/*--Importación de tipografías--*/
/*
    font-family: 'Lato', sans-serif;
    font-weight: 100; //thin
                 300; //light;
                 400; //regular;
                 700; //bold;
    font-style: regular en normal e italic;
*/

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #0c0c1e;
    background-color: #faf5f4;
    font-weight: 400;
}

h1,
h2 {
    font-weight: 700;
    color: #1b2e3c;
}
h3,
h4,
h5,
h6 {
    font-style: italic;
    font-weight: 300;
}

h1,
.h1 {
    font-size: 42px;
}

h2,
.h2 {
    font-size: 32px;
}

h3,
.h3 {
    font-size: 28px;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 16px;
}

button,
.btn {
    display: inline-block;
    padding: 0 16px;
    background-color: #faf5f4;
    text-decoration: none;
    color: #4b0000;
    border: none;
    line-height: 2;
    text-transform: lowercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 16px;
}

button:hover,
.btn:hover {
    background-color: #f3e3e2;
}

.btn--secondary {
    background-color: white;
    color: #aba7ad;
    border: 1px solid #aba7ad;
}

.btn--secondary:hover {
    background-color: #faf5f4;
    color: #aba7ad;
}


code {
    background-color: #faf5f4;
    font-weight: 400;
    padding: 0 8px;
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
}

.inputgroup {
    display: inline-block;
    padding: 8px;
}

input,
textarea,
select {
    background-color: #faf5f4;
    color: #4b0000;
    padding: 2px 8px;
    border: 1px solid #4b0000;
    border-radius: 8px;
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid #4b0000;
}

[type="radio"],
[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: 1px solid #4b0000;
  background-color: none;
  border-radius: 50%;
}

[type="radio"]:checked,
[type="checkbox"]:checked {
    width: 8px;
    height: 8px;
    margin: 4px;
    background-color: #4b0000;
    box-shadow: 0 0 0 3px white, 0 0 0 4px #4b0000;
}

[type="range"] {
    appearance: none;
    width: 160px;
    height: 8px;
    background-color: #faf5f4;
    border: none;
    overflow: hidden;
}

[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background-color: #4b0000;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #4b0000, -160px 0 0 160px #4b0000;
}

[type="range"]:focus {
    border: none;
}

[type="checkbox"] {
  border-radius: 25%;
}

progress {
    appearance: none;
    width: 250px;
    height: 8px;
    color: #4b0000;
}

/* ---> UTILIDADES */

/* Colors */
.color-crimson {
    color: #4b0000;
}
.bg-color-crimson {
    background-color: #4b0000;
}

.color-cream {
    color: #f3e3e2;
}
.bg-color-cream {
    background-color: #f3e3e2;
}

.color-navy {
    color: #1b2e3c;
}
.bg-color-navy {
    background-color: #1b2e3c;
}

.color-cadet {
    color: #a3b5c2;
}
.bg-color-cadet {
    background-color: #a3b5c2;
}

.color-accent {
    color: #b0a06a;
}
.bg-color-accent {
    background-color: #b0a06a;
}

.color-dark {
    color: #0c0c1e;
}
.bg-color-dark {
    background-color: #0c0c1e;
}

.color-dark-grey {
    color: #5b5a65;
}
.bg-color-dark-grey {
    background-color: #5b5a65;
}

.color-light-grey {
    color: #aba7ad;
}
.bg-color-light-grey {
    background-color: #aba7ad;
}

.color-light {
    color: #faf5f4;
}
.bg-color-light {
    background-color: #faf5f4;
}



/*Own styles, these are only for styling THIS page*/

.pattern-content {
    max-width: 800px;
    padding: 16px 50px;
    margin: 16px auto;
    background-color: white;
    border-radius: 8px;
}

.pattern-section {
    margin-bottom: 64px;
}

.pattern-color {
    display: inline-block;
    width: 160px;
    height: 100px;
    border-radius: 12px;
    position: relative;
}

.pattern-color::before {
    content: attr(color-name) ': ' attr(data-color);
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    color: white;
    text-align: center;
    border-radius: 12px 12px 0 0;
    padding: 4px 0;
}

.pattern-tittle {
    border-bottom: 1px solid #1b2e3c;
    opacity: 0.6;
}

[data-header]:before {
    content: attr(data-header) ': ';
}